<div class="counter-container">
	<div
		(tap)="onPlussTap($event)"
		(swipeleft)="onSwipeLeft($event)"
		(swiperight)="onSwipeRight($event)"
		class="counter-box pluss-button">
	
		<ion-icon size="large" name="add-outline"></ion-icon>
	</div>
	<div 
		(swipeleft)="onSwipeLeft($event)"
		(swiperight)="onSwipeRight($event)" 
		class="counter-box center">
			
		<ion-icon *ngIf="sheepInfosCount > 1" size="large" name="chevron-back-outline"></ion-icon>
		{{ selectedSheepInfo }}
		<ion-icon *ngIf="sheepInfosCount > 1" size="large" name="chevron-forward-outline"></ion-icon>
	</div>
	<div
		(tap)="onMinusTap($event)"
		(swipeleft)="onSwipeLeft($event)"
		(swiperight)="onSwipeRight($event)"
		class="counter-box minus-button">
		<ion-icon size="large" name="remove-outline"></ion-icon>
	</div>
</div>
