.button-counter-container {
    display: grid;
	grid-template-columns: 100px auto 100px;
	grid-template-rows: 100px auto 100px;
	
	justify-items: center;
	align-items: center;

    height: 100%;
    margin: 50;
}

.top {
    grid-column: 1 / 4;
    grid-row: 1 / 2 ;
    border-bottom: 100px solid #7BB662;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 400px;
    transform: rotate(180deg);
}

.bottom {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    border-bottom: 100px solid #7BB662;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 400px;
  }

.middle {
    grid-column: 2 / 3;
	grid-row: 2 / 3;
	justify-self: stretch;
	align-self: stretch;

	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: xx-large;
	text-transform: uppercase;
}

.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-bottom: 100px solid #7BB662;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 400px;
    transform: rotate(90deg);
    margin-right: 50;
    

}

.right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-bottom: 100px solid #7BB662;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 400px;
    transform: rotate(-90deg);
}

