<div class="button-counter-container">
    <div class="top">
        <ion-icon size="large" name="add-outline"></ion-icon>
    </div>
    <div class="left">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
    </div>
    <div class="middle">
        <p>
            HELLO!
        </p>
    </div>
    <div class="right">
        <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="bottom">
        <ion-icon size="large" name="remove-outline"></ion-icon>
    </div>
</div>
