root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.ts]
indent_style = tab
indent_size = 4
charset = utf-8
spaces_around_brackets = inside
trim_trailing_whitespace = true
quote_type = single
