<ion-content>
	<div class="main-menu-container">
		<div class="logo-container">
			<img class="sheep-img" src="assets\img\sheep-svgrepo-com2.png">
			<div class="app-name">
				SAURON
			</div>
		</div>

		<div class="buttons-container">
			<ion-button class="main-menu-button" fill="solid" color="primary" (click)="newFieldTripButtonClicked()">
				NY OPPSYNSTUR
			</ion-button>
			<ion-button class="main-menu-button" fill="solid" color="primary" (click)="offlineMapsButtonClicked()">
				LAST NED KARTUTSNITT
			</ion-button>
			<ion-button class="main-menu-button" fill="solid" color="primary" (click)="settingsButtonClicked()">
				INNSTILLINGER
			</ion-button>
		</div>
	</div>
</ion-content>
