.register-content {
	--background: #1C262F;
}

.register-container {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.counter {
	height: 50%;
}

.register-heading {
	text-align: center;
	margin-top: 30px;
	font-size: xx-large;
	text-transform: uppercase;
}

.count-overview-container {
	width: 100%;
	height: 20%;
	border: 1px solid red;
}

.count-overview {
	width: 100%;
	
	display: flex;
	justify-content: space-between;
}
