<ion-content class="register-content">
	<div class="register-container">
		<h1 class="register-heading"> {{ sheepInfoCategory.name }} </h1>
		<div class="count-overview-container">
			<div class="count-overview">
				<div class="count-box">
					ANTALL
				</div>
			</div>
		</div>
		<app-counter 
			(increment)="onIncrement()"
			(decrement)="onDecrement()"
			(sheepInfoLeft)="onSheepInfoLeft()"
			(sheepInfoRight)="onSheepInfoRight()"
			[sheepInfosCount]="sheepInfoCountInCurrentCategory" 
			[selectedSheepInfo]="sheepInfo.name"
			class="counter">
		</app-counter>
		<app-navigation
			(nextCategory)="onNextCategory()"
			(prevCategory)="onPrevCategory()"
			(cancelRegistration)="onCancel()"
			(completeRegistration)="onComplete()"
			class="navigation">
		</app-navigation>
	</div>
</ion-content>
