.register-content {
	--background: #1C262F;
	--padding-top: env(safe-area-inset-top);
}

.register-container {
	height: 100%;
    width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.register-top-part {
	display: flex;
	flex-direction: column;
}

.counter {
    height: 55%;
}

.register-heading {
	text-align: center;
	margin-top: 20px;
	font-weight: 300;
	font-size: xx-large;
	text-transform: uppercase;
}

.count-overview-container {
	margin-top: 10px;
	width: 100%;
}

.ear-tag-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.observed-ear-tags-container, .add-new-ear-tag-container {
	width: 90%;
	height: 50%;
	font-size: larger;
	font-weight: 300;
}
