<ion-content class="register-content">
	<div class="register-container" *ngIf="currentMainCategory && currentSubCategory && subCategoryCountInCurrentMainCategory">
		<div class="register-top-part">
			<h1 class="register-heading"> {{ currentMainCategory.name }} </h1>

			<div class="count-overview-container">

				<!-- COUNT OVERVIEW FOR TOTAL AMOUNT -->
				<app-count-overview
					*ngIf="currentMainCategory.id === mainCategoryId.TotalSheep"
					[mainCategoryId]="mainCategoryId.TotalSheep"
					[subCategories]="['Antall']"
					[counts]="[currentMainCategory.totalSheep.count]">
				</app-count-overview>

				<!-- COUNT OVERVIEW FOR SHEEP COLOUR -->
				<app-count-overview
					*ngIf="currentMainCategory.id === mainCategoryId.SheepColour"
					[mainCategoryId]="mainCategoryId.SheepColour"
					[subCategories]="['Hvit', 'Svart', 'Brun']"
					[colours]="['FFFFFF', '000000', '422916']"
					[counts]="[
						currentMainCategory.whiteSheep.count,
						currentMainCategory.blackSheep.count,
						currentMainCategory.brownSheep.count
					]">
				</app-count-overview>

				<!-- COUNT OVERVIEW FOR SHEEP TYPE -->
				<app-count-overview
					*ngIf="currentMainCategory.id === mainCategoryId.SheepType"
					[mainCategoryId]="mainCategoryId.SheepType"
					[subCategories]="['Søye', 'Lam']"
					[counts]="[
						currentMainCategory.ewe.count,
						currentMainCategory.lamb.count
					]">
				</app-count-overview>

				<!-- COUNT OVERVIEW FOR COLLAR COLOUR -->
				<app-count-overview
					*ngIf="currentMainCategory.id === mainCategoryId.CollarColour"
					[mainCategoryId]="mainCategoryId.CollarColour"
					[subCategories]="['Blå', 'Grønn', 'Gul', 'Rød', 'Mangler']"
					[colours]="['005BE4', '198C0F', 'E2E700', 'BD0000', '595959']"
					[counts]="[
						currentMainCategory.blueCollar.count,
						currentMainCategory.greenCollar.count,
						currentMainCategory.yellowCollar.count,
						currentMainCategory.redCollar.count,
						currentMainCategory.missingCollar.count
					]">
				</app-count-overview>
			</div>
		</div>
		
		<app-counter
			(increment)="onIncrement()"
			(decrement)="onDecrement()"
			(subCategoryLeft)="onSubCategoryLeft()"
			(subCategoryRight)="onSubCategoryRight()"
			(holdForReadout)="onHoldForReadout()"
			[subCategoryCount]="subCategoryCountInCurrentMainCategory" 
			[currentSubCategoryName]="currentSubCategory.name"
			class="counter">
		</app-counter>
		<app-navigation
			(nextMainCategory)="onNextMainCategory()"
			(prevMainCategory)="onPrevMainCategory()"
			(cancelRegistration)="onCancel()"
			class="navigation">
		</app-navigation>
	</div>
</ion-content>
