.register-dead-container {
    height: 100%;
}

.register-dead-info-list { 
    background-color: var(--ion-background-color);
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
}

.invalid {
    color: red;
    margin-bottom: 30px;
}

.add-photo-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
    margin-top: 5px;
}

.add-photo-header-text {
    padding-top: 8px;
    text-align: start;
    width: 100%;
}

.camera-icon {
    align-self: flex-end;
}

ion-item {
    margin-top: 5px;
    --background: rgba(255, 255, 255, 0.05);
    --border-color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

ion-select {
    width:100%;
    max-width: 100% !important;
    padding-left:0px;
}

ion-textarea {
    margin-top: 5px;
    --background: rgba(255, 255, 255, 0.05);
    margin-bottom: 25px;
}
