<ion-content>
    <div class="register-dead-container">
        <app-page-header [navUrl]= "['/map']" [pageHeaderText] = "['Registrer døde dyr']"></app-page-header>
        <ion-list class="register-dead-info-list">
            <form [formGroup]="registerDeadForm">
                <div class="register-dead-item"> 
                    <ion-label>Antall døde dyr:</ion-label>
                    <ion-item lines="full">
                        <ion-input formControlName="deadCount" required="true" type="number"></ion-input>
                    </ion-item>
                    <div *ngIf="!registerDeadForm.controls.deadCount.valid && (registerDeadForm.controls.deadCount.dirty || submitAttempt)">
                        <p class="invalid">
                            {{invalidText}}
                        </p>
                    </div>
                </div>
                <ion-label>Kommentar:</ion-label>
                <ion-textarea formControlName="comment" placeholder="Skriv inn observasjon her..."></ion-textarea>
                <div class="add-photo-container">
                    <div class="add-photo-header">
                        <ion-label class="add-photo-header-text">Bilde</ion-label> 
                    </div>
                    <div *ngIf="images.length > 0, else removeImages" class="add-photo-text">Legg ved et bilde. Klikk på bildet for å fjerne det.</div>
                    <ng-template  #removeImages>
                        <div class="add-photo-text">
                            Legg ved et bilde.
                        </div>
                    </ng-template>
                    <div *ngIf="images.length > 0, else elseblock" class="photos-container">
                        <div (click)="confirmPhotoRemoval(i)" *ngFor="let image of images; index as i" >
                            <ion-img class="photo" *ngIf="capturedImage" [src]="images[i]"></ion-img>
                        </div>
                        <div class="add-photo-box">
                            <div class="plus-icon" (click)="addPhoto()">+</div>
                        </div>
                    </div>
                    <ng-template #elseblock >
                        <div class="add-photo-box">
                            <div class="plus-icon" (click)="addPhoto()">+</div>
                        </div>
                    </ng-template>
                    
                </div>  
            </form>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
	<ion-row>
		<ion-col class="ion-no-padding">
			<ion-button (click)="navigateBack()" id="back-button" color="tertiary" class="ion-no-margin" expand="full" size="large">TILBAKE</ion-button>
		</ion-col>
		<ion-col class="ion-no-padding">
			<ion-button (click)="onCompleteRegistration()" color="primary" id="complete-button" class="ion-no-margin" expand="full" size="large">FULLFØR</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>
