.total-sheep-count-content {
	--background: #1C262F;
}

.total-sheep-count-container {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.counter {
	height: 50%;
}

.total-sheep-count-heading {
	text-align: center;
	margin-top: 30px;
	font-size: xx-large;
}
