<ion-content>
	<div class="offline-maps-container">
		<app-page-header [navUrl] = "['/main-menu']" [pageHeaderText] = "['Nedlastede kartutsnitt']">
        </app-page-header>
		<div class="map-meta-data-container">
			<div *ngFor="let metaData of offlineMaps" class="map-meta-data">
				<div class="map-name"> {{ metaData.name }} </div>
				<div class="map-info-container">
					<div class="map-info"> {{ getMapFileSize(metaData.size) }} </div>
					<div class="map-info"> | </div>
					<div class="map-info"> Oppdatert: {{ metaData.downloadDate | date:'dd.MM.yyyy' }} </div>
				</div>
				<div class="map-options">
					<div class="map-options-button" (click)="showOptionsMenu(metaData.id)">&middot;&middot;&middot;</div>
				</div>
				<ion-progress-bar [hidden]="hideProgressBar(metaData.id)" class="progress-bar" [value]="getDownloadCompletionRate(metaData.id)"></ion-progress-bar>
			</div>
			<div class="no-maps" *ngIf="offlineMaps && offlineMaps.length === 0">
				Ingen kartutsnitt har blitt lastet ned enda. Trykk på + for å laste ned et kartutsnitt!
			</div>
		</div>

		<ion-fab [hidden]="!optionsMenuHidden || !changeNameBoxHidden" vertical="bottom" horizontal="end" slot="fixed">
			<ion-fab-button (click)="plusButtonClicked()">
				<ion-icon name="add"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	
		<div #backdrop [hidden]="optionsMenuHidden && changeNameBoxHidden" class="backdrop" (click)="hideOptionsMenu()"></div>
		<div #optionsMenu [hidden]="optionsMenuHidden" class="options-menu">
			<div class="options-menu-button" (click)="showChangeNameBox()"> Endre navn </div>	
			<div class="options-menu-button" (click)="updateOfflineMap()"> Oppdater </div>	
			<div class="options-menu-button" (click)="deleteOfflineMap()"> Slett </div>	
			<div class="options-menu-button" (click)="hideOptionsMenu()"> Avbryt </div>	
		</div>
	
		<div [hidden]="changeNameBoxHidden" class="change-name-box">
			Gi kartet ditt et nytt navn:

			<ion-item lines="full" class="change-name-box-item" >
				<ion-input [autofocus]="true" [minlength]="4" [(ngModel)]="newMapName"></ion-input>
			</ion-item>

			<div class="change-name-box-buttons-container">
				<div class="change-name-box-button" (click)="hideOptionsMenu()"> Avbryt </div>
				<div class="change-name-box-button" (click)="changeOfflineMapName()"> Lagre </div>
			</div>
		</div>
	</div>
</ion-content>
