<ion-content>
<div class="new-field-trip-container">
   <app-page-header [navUrl] = "['/main-menu']" [pageHeaderText] = "['Ny oppsynstur']" >
   </app-page-header>
   <ion-list class="field-trip-info-list">
   <form [formGroup]="newFieldTripForm" >
        <ion-label> Antall deltakere: </ion-label>
        <ion-item lines="full">
            <ion-input formControlName="participants" required="true" type="number" placeholder="1"></ion-input> 
        </ion-item>
        <div *ngIf="!newFieldTripForm.controls.participants.valid && (newFieldTripForm.controls.participants.dirty || submitAttempt)">
            <p class="invalid">
            {{invalidText}}
            </p>
        </div>
        <!-- <ion-label>  Vær: </ion-label>
        <ion-item lines="full">
            <ion-select formControlName="weather" class="field-trip-select" interface="popover" placeholder="Opphold">
                <ion-select-option value="opphold">Opphold</ion-select-option>
                <ion-select-option value="regn">Regn</ion-select-option>
                <ion-select-option value="sno">Snø</ion-select-option>
            </ion-select> 
        </ion-item> -->
        <ion-label>Beskrivelse:</ion-label>
        <ion-textarea formControlName="description" placeholder=" Skriv her..."></ion-textarea>
        <div class="field-trip-button-container">
        <ion-button (click)="createNewFieldTrip()" class="field-trip-button" color="primary" fill="solid">START OPPSYNSTUR</ion-button>
   </div>
   </form>
</ion-list>
</div>
</ion-content>
