<ion-content>
<div class="new-field-trip-container">
   <app-page-header [backButton] = "true" [pageHeaderText] = "['Ny oppsynstur']" >
   </app-page-header>
   <ion-list class="field-trip-info-list">
        <ion-label> Ditt navn:</ion-label>
        <ion-item>
            <ion-input [(ngModel)]="overseerName" placeholder="Ola Nordmann"></ion-input> 
        </ion-item>
        <ion-label> Gårdsnummer: </ion-label>
        <ion-item>
            <ion-input [(ngModel)]="farmNumber" placeholder="222345"></ion-input> 
        </ion-item>
        <ion-label> Bruksnummer:</ion-label>
        <ion-item>
            <ion-input [(ngModel)]="bruksNumber" placeholder="12"></ion-input> 
        </ion-item>
        <ion-label> Kommune: </ion-label>
        <ion-item>
            <ion-input placeholder="Trondheim"></ion-input> 
        </ion-item>
        <ion-label> Antall deltakere: </ion-label>
        <ion-item>
            <ion-input [(ngModel)]="participants" type="number" placeholder="1"></ion-input> 
        </ion-item>
        <ion-label>  Vær: </ion-label>
        <ion-item>
            <ion-select [(ngModel)]="weather" class="field-trip-select" interface="popover" placeholder="Opphold">
                <ion-select-option value="opphold">Opphold</ion-select-option>
                <ion-select-option value="regn">Regn</ion-select-option>
                <ion-select-option value="sno">Snø</ion-select-option>
            </ion-select> 
        </ion-item>
        <ion-label>Beskrivelse:</ion-label>
        <ion-textarea [(ngModel)]="description" placeholder="Skriv her..."></ion-textarea>
        <div class="field-trip-button-container">
        <ion-button (click)="createNewFieldTrip()" class="field-trip-button" color="primary" fill="solid">START OPPSYNSTUR</ion-button>
   </div>
   </ion-list>
</div>
</ion-content>
