.new-field-trip-container {
    // height: 100%;
    // margin-top: 20px;
    // margin-left: 35px;
    // margin-right: 35px;
    background-color: var(--ion-background-color);
}

.field-trip-info-list {
    background-color: var(--ion-background-color);
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.participants-list {
    background-color: var(--ion-background-color);
    margin-bottom: 10px;
}

.invalid {
    align-self: flex-end;
    color: red;
    margin-bottom: 30px;
}

.field-trip-button-container {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.field-trip-button {
	margin-bottom: 20px;
	height: 50px;
	width: 100%;
	--border-radius: 25px;
	font-size: larger;
    font-weight: 200;
} 

.add-participant-container {
    margin-top: 5px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-participant-name {
    display: flex;
    max-width: 80% !important;
}

.add-participant-box {
    width: 39px;
    height: 39px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-input {
    --background: rgba(255, 255, 255, 0.05);
}

ion-item {
    --background: var(--ion-background-color);
    --border-color: var(--ion-background-color);
}

ion-select {
    width:100%;
    max-width: 100% !important;
    padding-left:0px;
}

ion-textarea {
    margin-top: 5px;
    --background: rgba(255, 255, 255, 0.05);
    margin-bottom: 25px;
}

