<ion-content class="collar-colour-count-content">
	<div class="collar-colour-count-container">
		<h1 class="collar-colour-count-heading"> SLIPS </h1>
		<app-counter
			(increment)="onIncrement()"
			(decrement)="onDecrement()"
			(categoryRight)="onCategoryRight()"
			(categoryLeft)="onCategoryLeft()"
			[categories]="categories"
			[selectedCategory]="selectedCategoryText()"
			class="counter">
		</app-counter>
		<app-navigation
			[nextRouteUri]="nextRouteUri"
			class="navigation">
		</app-navigation>
	</div>
</ion-content>
