.map-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.map-frame {
	height: 100%;
}

#map {
	height: 100%;
}

ion-fab {
    margin-bottom: 10px;
	margin: 10px;
}

ion-fab-button {
    --background: #1C262F;
	--background-activated: #1C262F;
}

.add-registration-button {
	--background: transparent;
}

.dark-overlay {
	height: 100%;
	width: 100%;
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 300;
}

.low-lower-mode-help-message {
	opacity: 1;
	color: #e4e4e4;
}

.center-fab {
	left: calc(50% - 38px); //50% minus (width + margin) / 2 av fab for å sentrere
}

.center-fab-btn {
	margin-bottom: 80px;

	ion-icon {
		color: #ababab;
		font-size: 25px;
		margin: 2px 3px 0px 0px;
	}

	ion-icon.active {
		color: #0A7FFF;
	}
}

.right-fab {
	right: 20px;
}

.left-fab {
	left: 20px;
}
