.map-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.map-frame {
	height: 100%;
}

#map {
	height: 100%;
}

ion-fab {
    margin-bottom: 10px;
	margin: 10px;
}

ion-fab-button {
    --background: #1C262F;
	--background-activated: #1C262F;
}

.add-registration-button {
	--background: transparent;
}
