<ion-content [fullscreen]="true">
	<div class="map-container">
		<div class="map-frame">
			<div id="map"></div>
		</div>
    </div>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button (click)="showConfirmAlert()"> 
			<ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button (click)="navigateToRegistration()" class="add-registration-button"><ion-img [src]="addSheepBtnPath"></ion-img></ion-fab-button>
			<ion-fab-button (click)="addRegistration(registrationType.Predator)" class="add-registration-button"><ion-img [src]="addPredatorBtnPath"></ion-img></ion-fab-button>
			<ion-fab-button (click)="addRegistration(registrationType.Injured)" class="add-registration-button"><ion-img [src]="addInjuredSheepBtnPath"></ion-img></ion-fab-button>
			<ion-fab-button (click)="addRegistration(registrationType.Dead)" class="add-registration-button"><ion-img [src]="addDeadSheepBtnPath"></ion-img></ion-fab-button>
		</ion-fab-list>
	</ion-fab>	
</ion-content>
