<div class="navigation-container">
	<div class="complete" [routerLink]="completeRoute">
		<ion-button fill="solid" expand="full" color="secondary" class="button ion-no-margin">
			FULLFØR
		</ion-button>
	</div>
	<div class="cancel">
		<ion-button fill="solid" expand="full" color="tertiary" class="button ion-no-margin">
			AVBRYT
		</ion-button>
	</div>
	<div [routerLink]="[nextRoute]" class="next">
		<ion-button fill="solid" expand="full" color="primary" class="next-button button ion-no-margin">
			NEXT
		</ion-button>
	</div>
</div>
