<ion-content id="summary-content">
 <h1 class="summary-heading"> OPPSUMMERING</h1>
 <div class="summary-column">
    <div class="summary-column-heading">
        <h2>DATO</h2>
    </div>
    <div class="summary-element"><ion-text>{{date}}</ion-text></div>
 </div>
 <div class="summary-column">
    <div class="summary-column-heading">
        <h2>TID BRUKT</h2>
    </div>
    <div class="summary-element"><ion-text>2 timer, 45 minutter, 30 sekunder</ion-text></div>
 </div>
 <div id="summary-map"></div>
 <div class="summary-column">
    <div class="summary-column-heading">
        <h2>REGISTRERINGER</h2>
    </div>
    <div *ngIf="!fieldTripInfo?.registrations; else elseblock" > <ion-text class="summary-registration">Det er ingen registreringer. </ion-text> </div>
    <ng-template #elseblock >
        <div *ngFor="let registration of fieldTripInfo.registrations, index as i">
            <div class="summary-registration">{{registration.registrationType}} : {{registration.sheepInfo.totalSheep.totalSheep.count}}
            </div>
        </div>
    </ng-template>
      <!-- <div class="summary-registration">SAU: 15</div> -->
 </div>
</ion-content>
<ion-footer>
	<ion-row>
		<ion-col class="ion-no-padding">
			<ion-button (click)="navigateBack()" id="back-button" color="tertiary" class="ion-no-margin" expand="full" size="large">TILBAKE</ion-button>
		</ion-col>
		<ion-col class="ion-no-padding">
			<ion-button color="primary" id="complete-button" class="ion-no-margin" expand="full" size="large">FULLFØR</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>
