<ion-content id="summary-content">
	<h1 id="summary-heading"> OPPSUMMERING </h1>
	<div id="summary-registertext"><ion-text >Avansert registrering av sau fullført</ion-text></div>
	<div class="summary-column">
	   <h2 class="summary-column-heading">SAU</h2>
	   <div class="summary-element">
		   <app-count-overview
				[infoTypes]="['Totalt', 'Søyer', 'Lam']"
				[counts]="[
					currentSheepInfo.totalSheep.totalSheep.count,
					currentSheepInfo.sheepType.ewe.count,
					currentSheepInfo.sheepType.lamb.count
				]">
			</app-count-overview>
	   </div>
	</div>
	<div class="summary-column">
		<h2 class="summary-column-heading">FARGE</h2>
		<div class="summary-element">
			<app-count-overview
				[infoTypes]="['Hvit', 'Svart', 'Brun']"
				[colours]="['FFFFFF', '000000', '422916']"
				[counts]="[
					currentSheepInfo.sheepColour.whiteSheep.count,
					currentSheepInfo.sheepColour.blackSheep.count,
					currentSheepInfo.sheepColour.brownSheep.count
				]">
			</app-count-overview>
		</div>
	</div>
	<div class="summary-column">
		<h2 class="summary-column-heading">SLIPS</h2>
		<div class="summary-element">
			<app-count-overview
				[category]="category.CollarColourCategory"
				[infoTypes]="['Blå', 'Grønn', 'Gul', 'Rød', 'Mangler']"
				[colours]="['005BE4', '198C0F', 'E2E700', 'BD0000', '595959']"
				[counts]="[
					currentSheepInfo.collarColour.blueCollar.count,
					currentSheepInfo.collarColour.greenCollar.count,
					currentSheepInfo.collarColour.yellowCollar.count,
					currentSheepInfo.collarColour.redCollar.count,
					currentSheepInfo.collarColour.missingCollar.count
				]">
			</app-count-overview>
		</div>
	<div *ngIf="currentSheepInfo.collarColour.missingCollar.count > 0" id="warning-container">
		<ion-icon id="warning-icon" src="/assets/warning.svg"></ion-icon>
		<h4>Registrerte slips tilsier at det mangler {{currentSheepInfo.collarColour.missingCollar.count}} lam</h4>
	</div>
</div>
</ion-content>
<ion-footer>
	<ion-row>
		<ion-col  class="ion-no-padding">
			<ion-button (click)="navigateBack()" id="back-button" color="tertiary" class="ion-no-margin" expand="full" size="large">TILBAKE</ion-button>
		</ion-col>
		<ion-col class="ion-no-padding">
			<ion-button (click)="completeRegistration()" color="primary" id="complete-button" class="ion-no-margin" expand="full" size="large">FULLFØR</ion-button>
		</ion-col>
	</ion-row>

</ion-footer>
