#summary-content {
    --background: #1C262F;
	--padding-top: env(safe-area-inset-top);
}

#summary-heading {
	text-align: center;
	margin-top: 20px;
	font-size: xx-large;
}

#summary-registertext {
    text-align: center;
}

.summary-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10px;
}

.summary-element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.summary-column-heading {
	margin: 15px 10px 5px 15px
}

.summary-element-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.color-tag {
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
}

.warning-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.warning-icon {
    fill: #B02525;
    font-size: 30px;
    margin-left: 10px;
    
}

.warning-text {
    width: 80%;
}

#back-button {
    border-top: 1px solid #808080;
    height: 80px;
}

#complete-button {
    height: 80px;
}

