#summary-content {
    --background: #1C262F;
	--padding-top: env(safe-area-inset-top);
}

#summary-heading {
	text-align: center;
	margin-top: 20px;
	font-size: xx-large;
}

#summary-registertext {
    text-align: center;
}

.summary-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10px;
}

.summary-element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.summary-column-heading {
	margin: 40px 10px 5px 15px
}

.summary-element-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.color-tag {
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
}

.warnings-container {
	margin-top: 10px;
	margin-bottom: 20px;
}

.warning-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.warning-icon {
    fill: #B02525;
    font-size: 20px;
}

.warning-text {
	font-size: 14px;
	width: 90%;
}

#back-button {
    border-top: 1px solid #808080;
    height: 80px;
    font-weight: 600;
}

#complete-button {
    height: 80px;
    font-weight: 600;
}

.ear-tag-selector {
	margin-right: 5px;
	height: 100%;
	flex-grow: 2;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.add-ear-tag-button {
	width: 45px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.ear-tag-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-weight: 300;
	width: 100%;
}

.ear-tags-container {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.ear-tag-selector-text {
	flex-grow: 2;
	margin-left: 20px;
	font-size: 18px;	
}

.no-ear-tags-selected {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
	height: 70%;
    margin-top: 5px;
}
