<ion-header class="tm-header">
	<ion-toolbar>
		<ion-title>Tidsmålinger</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="tm-content">
	<div class="tm-container">
		<table *ngIf="timeMeasurements && total">
			<tr>
				<th>Oppgave</th>
				<th>Tid</th>
			</tr>
			<tr>
				<td> Totalt </td>
				<td> {{ total.time | number:'1.0-0' }} ms </td>
			</tr>
			<tr *ngFor="let tm of timeMeasurements">
				<td> {{ tm.name }} </td>
				<td> {{ tm.time | number:'1.0-0'}} ms </td>
			</tr>
		</table>
	
		<ion-button class="map-button" (click)="backToMap()">
			Tilbake til kart
		</ion-button>
	</div>
	
</ion-content>
