<div class="counter-container"> 
	<div class="plus" (click)="increment.next()">
		<ion-icon size="large" name="add-outline"></ion-icon>
	</div>
	<div 
		*ngIf="categories.length > 0"
		(click)="categoryLeft.next()"
		class="left">
		<ion-icon size="large" name="chevron-back-circle-outline"></ion-icon>
	</div>
	<div class="middle">
		{{ selectedCategory }}
	</div>
	<div 
		*ngIf="categories.length > 0"
		(click)="categoryRight.next()"
		class="right">
		<ion-icon size="large" name="chevron-forward-circle-outline"></ion-icon>	
	</div>
	<div class="minus" (click)="decrement.next()">
		<ion-icon size="large" name="remove-outline"></ion-icon>
	</div>
</div>
