<div class="counter-container"> 
	<div class="plus" >
		<ion-icon size="large" name="add-outline"></ion-icon>
	</div>
	<div
		*ngIf="sheepInfosCount > 1"
		class="left">
		<ion-icon size="large" name="chevron-back-outline"></ion-icon>
	</div>
	<div
		(swipeleft)="onSwipeLeft($event)"
		(swiperight)="onSwipeRight($event)"
		(swipeup)="onSwipeUp($event)"
		(swipedown)="onSwipeDown($event)" 
		class="middle">
		{{ selectedSheepInfo }}
	</div>
	<div
		*ngIf="sheepInfosCount > 1"
		class="right">
		<ion-icon size="large" name="chevron-forward-outline"></ion-icon>
	</div>
	<div class="minus">
		<ion-icon size="large" name="remove-outline"></ion-icon>
	</div>
</div>
